.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1440px;
    margin: 0 auto;
}

/* Nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px;
}

.nav-title {
    font-weight: 800;
    font-size: 28px;
}

/* Button styles */

.btn-primary {
    background-color: white;
    font-weight: 600;
    color: black;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
}

.btn-primary-1 {
    background-color: #0D1321;
    font-weight: 600;
    color: white;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 58px;

}

.btn-primary-2 {
    width: 171px;
    height: 47px;
    font-weight: 600;
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    margin-top: 28px;
}

.btn-primary-3 {
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}


/* Banner styles */

.banner {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    margin: 0 auto;
}

.banner-content {
    text-align: center;
    justify-content: center;
}

.banner-title {
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    text-align: center;
}

.banner-pic {
    width: 240px;
    height: 240px;
    padding: 26px 378px;
}

.banner-description {
    width: 852px;
    height: 52px;
    margin-top: 24px;
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 998px;
    height: 581px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 45px;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */

.about {
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 8px;
    /* height: 1393px; */
    text-align: center;
    padding: 80px 97px;
    margin-top: 73px;
}

.section-title {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.section-description {
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7);

}

.about-1 {
    background-color: white;
    display: flex;
    padding: 48px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 32px;
    border-radius: 16px;
}

.about-1-title {
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    font-weight: bold;

}

.about-1-description {
    width: 460px;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7);
    margin: 0 auto;
}

.about-1-img {
    width: 274px;
    height: 240px;

}

.about-2 {
    text-align: left;
    width: 470px;
}

.inspiration {
    text-align: center;
    margin-top: 90px;
}

.inspiration-description {
    width: 852px;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7);
    margin: 0 auto;
}

.video-section {
    border-radius: 16px;
    border: 0.5px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    margin-top: 48px;
}

.video {
    border-radius: 16px;
}

/* tergats styles */

.current-target-description {
    width: 852px;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7);
    margin: 0 auto;
}

.main-target {
    text-align: center;
    margin-top: 150px;
    height: 460px;
}

.targets {
    display: flex;
    margin-top: 48px;
}

.card {
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    text-align: left;
    border-radius: 16px;
    margin-right: 24px;
    width: 364px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: lighter;
    font-size: 16px;

}

.targets-title {
    font-size: 24px;
    color: #0D1321;
    font-weight: 800;

}

.clickable {
    font-size: 16px;
    font-weight: bold;
}

.next-target {
    text-align: center;
    margin-top: 110px;
}

.next-target-description {
    width: 852px;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7);
    margin: 0 auto;
}

.react {
    height: 210px;
    border-radius: 16px;
    border: 0.5px solid rgba(13, 19, 33, 0.2);
    padding: 40px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.next-target-img1 img {
    width: 94px;
    margin: 15.5px 24px;

}

.node {
    height: 210px;
    border-radius: 16px;
    border: 0.5px solid rgba(13, 19, 33, 0.2);
    padding: 40px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.next-target-img2 img {
    width: 143px;
    margin: 25.5px 24px 25.5px 40px;

}

.mongo {
    height: 210px;
    border-radius: 16px;
    border: 0.5px solid rgba(13, 19, 33, 0.2);
    padding: 40px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.next-target-img3 img {
    width: 94px;
    margin: 15.5px 24px;

}


.node {
    height: 210px;
    border-radius: 16px;
    border: 0.5px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    margin-top: 24px;
}

.mongo {
    height: 210px;
    border-radius: 16px;
    border: 0.5px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    margin-top: 24px;
}


/* footer styles */

.support {
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 64px 48px;
    margin: 49px 0px;
    color: #FFFFFF;

}

.support h1 {
    font-size: 32px;
    font-weight: bold;

}

.support p {
    width: 606px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-weight: lighter;
}

.handshake-1 {
    width: 1140px;
    height: 313px;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    background-size: contain;

}

.support-input {
    width: 548px;
    padding: 19px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.4);

}

.submit-btn {
    padding: 17px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}

.footer {
    background-color: #F8F8F9;
}

.ending {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    padding: 32px;

}

.ending h1 {
    font-size: 20px;
    width: 600;
}

/* Link */
.color{
    color: #0D1321;
}

/* challenge part */
html {
    scroll-behavior: smooth;
  }