.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1440px;
    margin: 0 auto;
}

/* Nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px;
}

.nav-title {
    font-weight: 800;
    font-size: 28px;
}

/* Button styles */

.btn-primary {
    background-color: white;
    font-weight: 600;
    color: black;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
}

.btn-primary-1 {
    background-color: #0D1321;
    font-weight: 600;
    color: white;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 18px;
    margin-bottom: 58px;

}

.btn-primary-2{
    width: 171px;
    height: 47px;
    font-weight: 600;
    color:rgba(13, 19, 33, 0.7);
    font-size: 20px;
    margin-top: 28px;
}

.btn-primary-3{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}

/* Banner styles */

.banner {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    margin: 0 auto;
}

.banner-content {
    text-align: center;
    justify-content: center;
}

.banner-title {
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    text-align: center;
}

.banner-pic {
    width: 240px;
    height: 240px;
    padding: 26px 378px;
}

.banner-description {
    width: 852px;
    height: 52px;
    margin-top: 24px;
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 998px;
    height: 581px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 45px;
}

/* main styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */

.about {
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 8px;
    /* height: 1393px; */
    text-align: center;
    padding: 80px 97px;
    margin-top: 73px;
}

.section-title {
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.section-description {
    font-size: 16px;
    color:rgba(13, 19, 33, 0.7);

}

.about-1 {
    background-color: white;
    display: flex;
    padding: 48px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 32px;
    border-radius: 16px;
}

.about-1-title{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    font-weight: bold;

}

.about-1-description{
    font-size: 16px;
    /* color: rgba(13, 19, 33, 0.7); */
    color: #0D1321;
    
}

.about-1-img {
    width: 274px;
    height: 240px;

}

.about-2 {
    text-align: left;
    width: 470px;
}

.inspiration {
    text-align: center;
    margin-top: 90px;
}

.inspiration-description{
    width: 852px;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.7);
    margin: 0 auto;
}

.video-section {
    border-radius: 16px;
    border: 0.5px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    margin-top: 48px;
}

.video {
    border-radius: 16px;
}

/* tergats styles */

.main-target {
    text-align: center;
    margin-top: 150px;
}

.targets {
    display: flex;
    margin-top: 48px;
}

.html{
    background-color:rgba(255, 76, 30, 0.05);
    padding: 40px;
    text-align: left;
    border-radius: 16px;
    margin-right: 24px;
    
}

.css{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    text-align: left;
    border-radius: 16px;
    margin-right: 24px;

}

.java{
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    text-align: left;
    border-radius: 16px;
}

.targets-title{
    font-size: 24px;
    color: #0D1321;
    font-weight: 800;

}

.clickable{
    font-size: 16px;
    font-weight: bold;
}